a:link, a:visited, .site-header .site-title a, .entry-header .entry-byline, .entry-header .entry-byline a {
  color: #8e44ad;
}

.menu-primary-items li.current-menu-item a,
.menu-primary-items a:hover,
.menu-primary-items .sub-menu,
.menu-primary-items li.sfHover .sf-with-ul,
.owl-theme .owl-controls .owl-page.active span.owl-numbers,
.owl-theme .owl-controls .owl-page span.owl-numbers:hover,
.slides-item:hover .slide-title, .slides-item:hover .published,
.post .img-link:hover > .entry-title,
.post .img-link:hover > .published,
.pagination .page-numbers.current,
.pagination .page-numbers:hover, button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background-color: #8e44ad;
}

.pagination .page-numbers.current,
.pagination .page-numbers:hover, button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  border-color: #8e44ad;
}

.menu-primary-items .sub-menu a:hover {
  background-color: #a563c1;
}

a:hover, a:visited:hover {
  color: #703688;
}

.menu-primary-items a:hover,
.menu-primary-items a:visited:hover {
  color: white;
}

.entry-header .entry-byline a:hover {
  color: #703688;
}

.main-navigation .menu-wrapper {
  border-bottom: 5px solid #8e44ad;
}

button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #a563c1;
}
