.comments-area {
	margin-bottom: 60px;
	margin-bottom: 4.61538rem;
}

.comments-title {
	@include font-size(26);
	margin-bottom: 60px;
	margin-bottom: 4.61538rem;
	padding-bottom: 14px;
	padding-bottom: 1.07692rem;
}

.comment-list .children {
	padding-left: 40px;
	padding-left: 3.07692rem;
	list-style-type: none;
}
@media screen and (min-width: 320px) {
	.comment-list .children .children {
		padding-left: 0;
	}
}
@media screen and (min-width: 600px) {
	.comment-list .children .children {
		padding-left: 40px;
		padding-left: 3.07692rem;
	}
}

.comment {
	position: relative;
}

.comment-meta {
	font-size: 12px;
	font-size: 0.92308rem;
	padding-bottom: 25px;
	padding-bottom: 1.92308rem;
	color: #999999;
}
.comment-meta .comment-author {
	display: block;
	font-style: normal;
	a {
		color: #555;
		&:hover {
			color: $link-color;
		}
	}
}

.comment-metadata {
	a {
		color: #555;
		&:hover {
			color: $link-color;
		}
	}
}

.comment-meta .comment-author .avatar {
	top: -15px;
	top: -1.15385rem;
	border-radius: 60px;
	position: absolute;
	right: 0;
}

.comment-body {
	margin-bottom: 40px;
	margin-bottom: 3.07692rem;
	padding-bottom: 10px;
	padding-bottom: 0.76923rem;
	border-bottom: 1px solid #efefef;
}

/**
 * Comment form
 */
#reply-title {
	font-size: 30px;
	font-size: 2.30769rem;
}

.comment-form label {
	display: block;
	font-weight: 600;
}
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-right: 29px;
	margin-right: 2.23077rem;
	float: left;
}
.comment-form .comment-form-author input,
.comment-form .comment-form-email input,
.comment-form .comment-form-url input {
	width: 200px;
}
.comment-form .comment-form-url {
	margin-right: 0;
}
.comment-form input[type="submit"] {
	padding: 13px 49px;
	padding: 1rem 3.76923rem;
	font-size: 14px;
	font-size: 1.07692rem;
	float: right;
}

.required {
	color: #f00;
}

#comment-nav-above {
	margin-bottom: 30px;
	margin-bottom: 2.30769rem;
}

.comment-navigation .nav-previous {
	display: inline;
	float: left;
}
.comment-navigation .nav-next {
	display: inline;
	float: right;
	text-align: right;
}
.comment-navigation a {
	color: #555555;
}