/**
 * Primary Navigation
 */
@media screen and (min-width: 320px) {
	.main-navigation {
		-webkit-transition: width 0.3s ease;
						transition: width 0.3s ease;
		position: fixed;
		top: 0;
		left: 0;
		margin-bottom: 0;
		width: 0;
		height: 100%;
		overflow: auto;
		z-index: 9;
		background: #000;
	}
}
@media screen and (min-width: 601px) {
	.main-navigation {
		@include pxrem(margin-bottom, 30px);
		-webkit-transition: none;
						transition: none;
		position: relative;
		overflow: visible;
		width: 100%;
		background: transparent;
	}
}
@media screen and (min-width: 320px) {
	.main-navigation .menu-wrapper {
		border: 0;
	}
}
@media screen and (min-width: 601px) {
	.main-navigation .menu-wrapper {
		border-top: 1px solid #efefef;
		border-bottom: 5px solid black;
	}
}

@media screen and (min-width: 320px) {
	.menu-primary-items {
		text-align: left;
	}
}
@media screen and (min-width: 601px) {
	.menu-primary-items {
		text-align: center;
	}
}
.menu-primary-items li {
	margin-left: -4px;
	margin-left: -0.30769rem;
	position: relative;
}
@media screen and (min-width: 320px) {
	.menu-primary-items li {
		display: block;
	}
	.menu-primary-items li.current-menu-item a {
		background-color: #141414;
	}
}
@media screen and (min-width: 601px) {
	.menu-primary-items li {
		display: inline-block;
	}
}
.menu-primary-items li.current-menu-item a, .menu-primary-items li.sfHover .sf-with-ul {
	background-color: black;
	color: white;
}
.menu-primary-items li:hover > .sub-menu {
	display: block;
}
.menu-primary-items a {
	padding: 10px 21px;
	padding: 0.76923rem 1.61538rem;
	display: block;
	text-transform: uppercase;
}
@media screen and (min-width: 320px) {
	.menu-primary-items a {
		color: white;
	}
	.menu-primary-items a:hover {
		background-color: #141414;
		color: white;
	}
}
@media screen and (min-width: 601px) {
	.menu-primary-items a {
		margin-top: 3px;
		margin-top: 0.23077rem;
		color: #555555;
	}
	.menu-primary-items a:hover {
		background-color: black;
		color: white;
	}
}
.menu-primary-items .sub-menu {
	text-align: left;
	background-color: black;
}
@media screen and (min-width: 320px) {
	.menu-primary-items .sub-menu {
		padding-left: 20px;
		padding-left: 1.53846rem;
		position: relative;
		display: block;
		width: 100%;
	}
	.menu-primary-items .sub-menu .sub-menu {
		left: 0 !important;
	}
}
@media screen and (min-width: 601px) {
	.menu-primary-items .sub-menu {
		position: absolute;
		display: none;
		padding: 0;
	}
	.menu-primary-items .sub-menu .sub-menu {
		left: 100% !important;
	}
}
.menu-primary-items .sub-menu li {
	display: block;
	margin-left: 0;
}
.menu-primary-items .sub-menu a {
	color: white;
}
.menu-primary-items .sub-menu a:hover {
	background-color: #141414;
}

/**
 * Mobile Menu
 */
#toggle-menu {
	display: none;
}

.open-toggle-menu {
	left: 30px;
	left: 2.30769rem;
	top: 20px;
	top: 1.53846rem;
	position: absolute;
	color: #555555;
	cursor: pointer;
}
@media screen and (min-width: 320px) {
	.open-toggle-menu {
		display: block;
	}
}
@media screen and (min-width: 601px) {
	.open-toggle-menu {
		display: none;
	}
}
.open-toggle-menu .genericon {
	font-size: 32px;
	font-size: 2.46154rem;
	width: 32px;
	height: 32px;
}

.close-toggle-menu {
	padding: 10px;
	padding: 0.76923rem;
	font-size: 14px;
	font-size: 1.07692rem;
	cursor: pointer;
	background-color: #555555;
	color: white;
}
@media screen and (min-width: 320px) {
	.close-toggle-menu {
		display: block;
	}
}
@media screen and (min-width: 601px) {
	.close-toggle-menu {
		display: none;
	}
}
.close-toggle-menu .genericon {
	font-size: 22px;
	font-size: 1.69231rem;
	width: 22px;
	height: 22px;
}

@media screen and (min-width: 320px) {
	#toggle-menu:checked + .main-navigation {
		width: 70%;
	}
}
@media screen and (min-width: 480px) {
	#toggle-menu:checked + .main-navigation {
		width: 45%;
	}
}
@media screen and (min-width: 568px) {
	#toggle-menu:checked + .main-navigation {
		width: 40%;
	}
}

/**
 * Social Navigation
 */
@media screen and (min-width: 320px) {
	.social-navigation {
		width: 100%;
		float: right;
		margin-right: 0;
	}
	.social-navigation .menu-social-items {
		text-align: center;
	}
}
@media screen and (min-width: 801px) {
	.social-navigation {
		width: 68.84615%;
		float: right;
		margin-right: 0;
	}
	.social-navigation .menu-social-items {
		text-align: right;
	}
}

.menu-social-items li {
	padding: 0 3px;
	padding: 0 0.23077rem;
	display: inline-block;
}

.social-navigation li a::before {
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}
.social-navigation li a[href*="codepen.io"]::before {
	content: '\f216';
	color: #222;
}
.social-navigation li a[href*="digg.com"]::before {
	content: '\f221';
	color: #222;
}
.social-navigation li a[href*="dribbble.com"]::before {
	content: '\f201';
	color: #ea4c89;
}
.social-navigation li a[href*="dropbox.com"]::before {
	content: '\f225';
	color: #007ee5;
}
.social-navigation li a[href*="facebook.com"]::before {
	content: '\f203';
	color: #3b5998;
}
.social-navigation li a[href*="flickr.com"]::before {
	content: '\f211';
	color: #ff0084;
}
.social-navigation li a[href*="plus.google.com"]::before {
	content: '\f206';
	color: #dd4b39;
}
.social-navigation li a[href*="github.com"]::before {
	content: '\f200';
	color: #222;
}
.social-navigation li a[href*="instagram.com"]::before {
	content: '\f215';
	color: #d3682e;
}
.social-navigation li a[href*="linkedin.com"]::before {
	content: '\f208';
	color: #0e76a8;
}
.social-navigation li a[href*="pinterest.com"]::before {
	content: '\f210';
	color: #c8232c;
}
.social-navigation li a[href*="polldaddy.com"]::before {
	content: '\f217';
	color: #bc0b0b;
}
.social-navigation li a[href*="getpocket.com"]::before {
	content: '\f224';
	color: #ee4056;
}
.social-navigation li a[href*="reddit.com"]::before {
	content: '\f222';
	color: #336699;
}
.social-navigation li a[href*="skype.com"]::before, .social-navigation li a[href*="skype:"]::before {
	content: '\f220';
	color: #00aff0;
}
.social-navigation li a[href*="stumbleupon.com"]::before {
	content: '\f223';
	color: #ff2618;
}
.social-navigation li a[href*="tumblr.com"]::before {
	content: '\f214';
	color: #34526f;
}
.social-navigation li a[href*="twitter.com"]::before {
	content: '\f202';
	color: #33ccff;
}
.social-navigation li a[href*="vimeo.com"]::before {
	content: '\f212';
	color: #1AB7EA;
}
.social-navigation li a[href*="wordpress.org"]::before, .social-navigation li a[href*="wordpress.com"]::before {
	content: '\f205';
	color: #464646;
}
.social-navigation li a[href*="youtube.com"]::before {
	content: '\f213';
	color: #c4302b;
}